<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Data</title>
</head>
<body>
    <center>
        <h>Display Details</h>
        <table border="1">
            <tr>
                <th>EmpID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Designation</th>
                <th>Qualification</th>
            </tr>
            {% for result in data %}
            <tr>
                <td>{{result.EMP_ID}}</td>
                <td>{{result.Name}}</td>
                <td>{{result.Age}}</td>
                <td>{{result.Designation}}</td>
                <td>{{result.Qualification}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>